[submodule "CRABAnalysis"]
	path = CRABAnalysis
	url = https://github.com/dynamic-entropy/CRABAnalysis.git
[submodule "CMSDatasetRuleMap"]
	path = CMSDatasetRuleMap
	url = https://github.com/dynamic-entropy/CMSDatasetRuleMap.git
